{% extends 'base.html' %}
{% block content %}
    <main>

        <!-- Create Profile Form -->
        <section id="register">
            <div class="form">
                <form class="register-form" action="{% url 'create your own pizza' %}" method="post">
                    <h2>Create Your Pizza</h2>
                    {{ form.as_div }}
                    {% csrf_token %}
                    <button type="submit">Create Your Pizza</button>
                </form>
            </div>
        </section>

    </main>
{% endblock %}