{% extends 'base.html' %}
{% block content %}
    <section id="details">
        <div id="details-wrapper">
            <h2>Pizza Details</h2>
            <img id="details-img" src="{{ pizza.image }}"
                 alt="profile img"/>
            <!-- user's full name -->
            <p id="details-title">{{ pizza.pizza_name }}</p>

            <div id="info-wrapper">
                <div id="details-description">
                    <!-- email -->
                    <p>
                        {{ pizza.description }}
                    </p>
                </div>
                <div id="action-buttons">
                    <a href="{% url 'add-pizza-to-basket' pk=pizza.pk %}">Order</a>
                </div>
                <div id="action-buttons">
                    {% if request.user.is_staff %}
                        <a href="{% url 'pizza edit' pk=pizza.pk %}" id="edit-btn">Edit</a>
                        <a href="{% url 'pizza delete' pk=pizza.pk %}" id="delete-btn">Delete</a>
                    {% endif %}
                </div>
            </div>

        </div>

        <br>
        <div id="details-wrapper">
            <h2>Last seen product</h2>
            <img id="details-img" src="{{ prev_product.image }}"
                 alt="pizza image"/>

            <p id="details-title">{{ prev_product.pizza_name }}</p>

            <p class="price">Price: {{ prev_product.price }}</p>

            <div id="action-buttons">
                <a href="{% url 'pizza details' pk=prev_product_id %}" id="details-btn">Details</a>
            </div>
        </div>
    </section>
{% endblock %}