{% extends 'base.html' %}
{% block content %}
    {% if pizza_basket or own_pizza_basket or drink_basket %}
        <h1 style="text-align: center; margin-bottom: 10px">Your Basket</h1>
        <table style="margin: 20px">
            <thead>
            <tr style="margin-bottom :10px;font-size: 22px">
                <th style="padding: 10px;">Product</th>
                <th style="padding: 10px ;">Price</th>
                <th style="padding: 10px ;">Quantity</th>
                <th style="padding: 10px ;">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in pizza_basket %}
                <tr style="font-size: 22px">
                    <td style="text-align: center; margin: 10px; padding-bottom: 10px">{{ item.product.pizza_name }}</td>
                    <td style="text-align: center; margin: 10px; padding-bottom: 10px">${{ item.product.price }}</td>
                    <td style="text-align: center; margin: 10px; padding-bottom: 10px">{{ item.quantity }}</td>
                    <td style="text-align: center; margin: 10px; padding-bottom: 10px">
                        <a href="{% url 'reduce-pizza-from-basket' pk=item.pk %}">-</a>
                    </td>
                </tr>
            {% endfor %}
            {% for item in own_pizza_basket %}
                <tr style="font-size: 22px">
                    <td style="text-align: center; margin: 10px; padding-bottom: 10px">{{ item.product.pizza_name }}</td>
                    <td style="text-align: center; margin: 10px; padding-bottom: 10px">${{ item.product.price }}</td>
                    <td style="text-align: center; margin: 10px; padding-bottom: 10px">{{ item.quantity }}</td>
                    <td style="text-align: center; margin: 10px; padding-bottom: 10px">
                        <a href="{% url 'reduce-own-pizza-from-basket' pk=item.pk %}">-</a>
                    </td>
                </tr>
            {% endfor %}
            {% for item in drink_basket %}
                <tr style="font-size: 22px">
                    <td style="text-align: center; margin: 10px; padding-bottom: 10px">{{ item.product.name }}</td>
                    <td style="text-align: center; margin: 10px; padding-bottom: 10px">${{ item.product.price }}</td>
                    <td style="text-align: center; margin: 10px; padding-bottom: 10px">{{ item.quantity }}</td>
                    <td style="text-align: center; margin: 10px; padding-bottom: 10px">
                        <a href="{% url 'reduce-drink-from-basket' pk=item.pk %}">-</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p style="margin-top: 10px; font-size: 22px">Total Price: {{ total_sum }}$</p>
        <a id="action-buttons" style="font-size: 22px" href="{% url 'order-made' %}">Finish your order</a>

    {% else %}
        <h1 style="text-align: center">No items in the basket</h1>
        <p style="text-align: center; font-size: 22px; margin: 10px; padding: 10px;">
            <a href="{% url 'pizzas-offered' %}">Add pizza to your basket</a>
        </p>

    {% endif %}
{% endblock %}