{% extends 'base.html' %}
{% block content %}
    {% if productbasketpizza_list %}
        <h1 style="text-align: center; margin-bottom: 10px">Your Basket</h1>
        <table style="margin: 20px">
            <thead>
            <tr style="margin-bottom :10px;font-size: 22px">
                <th style="padding: 10px;">Product</th>
                <th style="padding: 10px ;">Price</th>
                <th style="padding: 10px ;">Quantity</th>
                <th style="padding: 10px ;">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in pizza_basket %}
                <tr style="font-size: 22px">
                    <td style="text-align: center; margin: 10px; padding-bottom: 10px">{{ item.product.pizza_name }}</td>
                    <td style="text-align: center; margin: 10px; padding-bottom: 10px">${{ item.product.price }}</td>
                    <td style="text-align: center; margin: 10px; padding-bottom: 10px">{{ item.quantity }}</td>
                    <td style="text-align: center; margin: 10px; padding-bottom: 10px">
                        {#                    <a href="{% url 'remove_from_basket' item.id %}">Remove</a>#}
                    </td>
                </tr>
            {% endfor %}
            {% for item in own_pizza_basket %}
                <tr style="font-size: 22px">
                    <td style="text-align: center; margin: 10px; padding-bottom: 10px">{{ item.product.pizza_name }}</td>
                    <td style="text-align: center; margin: 10px; padding-bottom: 10px">${{ item.product.price }}</td>
                    <td style="text-align: center; margin: 10px; padding-bottom: 10px">{{ item.quantity }}</td>
                    <td style="text-align: center; margin: 10px; padding-bottom: 10px">
                        {#                    <a href="{% url 'remove_from_basket' item.id %}">Remove</a>#}
                    </td>
                </tr>
            {% endfor %}
            {% for item in drink_basket %}
                <tr style="font-size: 22px">
                    <td style="text-align: center; margin: 10px; padding-bottom: 10px">{{ item.product.name }}</td>
                    <td style="text-align: center; margin: 10px; padding-bottom: 10px">${{ item.product.price }}</td>
                    <td style="text-align: center; margin: 10px; padding-bottom: 10px">{{ item.quantity }}</td>
                    <td style="text-align: center; margin: 10px; padding-bottom: 10px">
                        {#                    <a href="{% url 'remove_from_basket' item.id %}">Remove</a>#}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p style="margin-top: 10px; font-size: 22px">Total Price: {{ total_sum }}$</p>
    {% else %}
        <h1 style="text-align: center">No items in the basket</h1>
    {% endif %}
    <a id="action-buttons" style="font-size: 22px" href="{% url 'order-made' %}">Make your order</a>
{% endblock %}